html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin:0 auto;
  padding: 5px;
  min-height: 100vh;
}

h1 {
  margin: 0, auto;
   background-color: DodgerBlue;
   width:400px;

}       
